[Unit]
Description=Moonclock
After=network.target
Wants=network.target
[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=5
RuntimeMaxSec=1d
TimeoutStopSec=600
WorkingDirectory=/usr/local/bin/moonclock
ExecStart=cd dist/hardware && sudo NODE_ENV=production node index.cjs
[Install]
WantedBy=default.target