[Unit]
Description=Moonclock Panel
After=network.target
Wants=network.target
[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=600
WorkingDirectory=/usr/local/bin/hardware-client/my-app
ExecStart=sudo npm run hardware-client
[Install]
WantedBy=default.target