[Unit]
Description=Moonclock
After=network.target
Wants=network.target
[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=600
WorkingDirectory=/usr/local/bin/moonclock
ExecStart=sudo npm run app
[Install]
WantedBy=default.target