[Unit]
Description=Moonclock Hardware ({VERSION})
After=network.target
Wants=network.target

[Service]
User=root
Group=root
Type=simple
Restart=always
RestartSec=5
TimeoutStopSec=600
WorkingDirectory=/usr/local/bin/moonclock/current/dist/hardware
ExecStart=sudo PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser NODE_ENV=production node index.cjs

[Install]
WantedBy=default.target