[Unit]
Description=Moonclock Update Checker ({VERSION})

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/usr/local/bin/moonclock
ExecStart=curl -X PUT -fsS http://localhost:80/api/check-for-update
ExecStart=curl -X POST -fsS http://localhost:80/api/download-update

[Install]
WantedBy=multi-user.target